

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.navbar {
    background-color: transparent; 
  }
  
  .home-background {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210714/pngtree-blur-creative-blog-background-image_741789.jpg');
    background-size: cover;
    min-height: 100vh; 
  }
  